@charset "UTF-8";

.multilevel-dropdown {
    .dropdown-item {
        &:hover,
        &:focus {
            background-color: transparent;
        }

        + .dropdown-item {
            @include media-breakpoint-up(md) {
                border: none;
            }
        }
    }
}

.menu-row {
    @include media-breakpoint-up(md) {
        @include make-row();

        flex-wrap: nowrap;
    }
}

.menu-column {
    @include media-breakpoint-up(md) {
        @include make-col-ready();
        @include make-col(3);

        min-width: 16rem;
    }
}

.menu-list {
    padding-left: 0;
}
