.modal-background {
    background-color: $black;
    display: none;
    height: 100%;
    position: fixed;
    opacity: 0.5;
    width: 100%;
    top: 0;
    left: 0;
}

input[placeholder] {
    text-overflow: ellipsis;
}

header ~ .container a:not(.btn-primary) {
    color: $blue;
}

.hide-order-discount {
    display: none;
}

.hide-shipping-discount {
    display: none;
}

.order-discount {
    color: $success;
}

.shipping-discount {
    color: $success;
}

.error-messaging {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.error-hero {
    background-image: url('../images/storelocator.jpg');
    margin-bottom: 0.625em;
}

.error-message {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.error.continue-shopping {
    margin-bottom: 6.25em;
}

// Contact Us Page
.registration {
    display: flex;
    flex-wrap: wrap;

    .form-group {
        flex: 1 0 100%;

        @include media-breakpoint-up(sm) {
            flex: 1 0 50%;
            padding: 0 10px;
        }
    }

    .recaptch-content {
        flex: 1 0 100%;
        margin-bottom: 3rem;

        @include media-breakpoint-up(sm) {
            padding-left: 10px;
        }
    }

    .contant-us {
        margin-bottom: 3rem;

        @include media-breakpoint-up(sm) {
            margin-left: 10px;
            width: auto;
        }
    }
}
