@import "~base/components/collapsibleItem";

footer {
    background-color: $gray-200;
    padding-bottom: 1.25em;

    h3 {
        font-size: $font-size-base;
        margin-bottom: 0;
        line-height: 2.5em; /* 40/16 */
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .social {
        h3 {
            margin-top: 0;
        }

        @include clearfix;
    }

    .copyright,
    .social {
        margin-top: 1.25em;
    }

    .social-links {

        @include clearfix;

        @include media-breakpoint-down(xs) {
            width: 80%;
        }

        float: left;

        li {
            float: left;
            margin: 0.313em;

            @include media-breakpoint-down(xs) {
                width: 20%;
                text-align: center;
            }
        }

        a {
            font-size: 2.25em;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .store {

        @include media-breakpoint-down(xs) {
            border-bottom: 1px solid $dark-gray;

            .content {
                display: none;
            }

            h3 {
                @include clearfix;

                &::after {
                    font-family: "FontAwesome";
                    float: right;
                    content: "\f041";
                }
            }
        }
    }

    .content {
        font-size: 0.875em;

        li {
            height: 1.875rem;
        }
    }

    .copyright,
    .postscript {
        font-size: 0.8125em;
    }

    .copyright {
        margin-bottom: 0.625em;
    }

    .back-to-top {
        position: fixed;
        right: 1vw;
        bottom: 1vw;
        background-color: white;
        border-radius: 50%;
        float: left;
        margin: 0.313em;
        margin-top: 0.1875em;
        border-color: $trans;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        padding: 0.125em 0.375em 0.1875em;
        z-index: 100;

        &:focus {
            outline: 0;
        }

        i {
            font-size: 1.5em;
            height: 2rem;
            width: 1.6rem;
            padding-top: 0.275em;
        }
    }
}

.footer-item {

    @include media-breakpoint-down(xs) {
        border-bottom: 1px solid $dark-gray;
    }

    h3 {
        cursor: pointer;

        @include media-breakpoint-up(sm) {
            &:nth-last-child(-n+3) {
                pointer-events: none;
                cursor: default;
            }
        }
    }
}

#consent-tracking {
    .button-wrapper {
        button {
            margin: 0.5em;
        }
    }
}

.footer-email-signup {
    background-color: $gray-400;

    .container {
        padding-top: 0.625em;
        padding-bottom: 0.625em;
    }

    .email-description {
        padding-top: 0.375em;
        color: $white;
    }
}

.footer-container {
    padding-top: 1.25em;
}
