@import "../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../components/formFields";

.account-image {
    background-image: url(../../images/account.jpg);
    background-position-y: 40%;
}

.card-footer > a {
    color: $brand-main;
    text-decoration: underline;
}

.card-header > a {
    color: $brand-main;
    float: right;
    text-decoration: underline;
}

.card-info-group {
    p {
        margin-bottom: 0;
    }

    div {
        margin-bottom: 1rem;
    }

    div:last-child {
        margin-bottom: 0;
    }
}

.order-history-control,
.order-history {
    h4 {
        font-weight: bold;
        margin-top: 0.5rem;
    }
}

.dashboard-order-card-image {
    width: 7rem;
    padding-right: 1rem;
}

.dashboard-order-card-footer-value {
    font-weight: bold;
    font-size: 1rem;
}

.back-to-account-link {
    color: $brand-main;
    text-decoration: underline;
    display: block;
    text-align: center;
}
