@import "../variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../components/formFields";

.login-oauth {
    margin-top: 1rem;

    .btn-oauth-login {
        color: $blue;
        border: 0.063em $blue solid;
        background-color: $white;

        img {
            height: 1.25em;
            width: 1.25em;
        }
    }
}

.total-items-label {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.total-price {
    font-weight: bold;
    margin-bottom: 0.25rem;
}
